Cython==0.29.21
spacy==2.1.0
pytest==6.2.2
neuralcoref==4.0.0
attrs==20.3.0
blis==0.7.4
boto3==1.16.63
botocore==1.19.63
catalogue==1.0.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cymem==2.0.5
Flask==1.1.2
gunicorn==20.0.4
idna==2.10
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
MarkupSafe==1.1.1
murmurhash==1.0.5
numpy==1.20.0
packaging==20.9
pathy==0.3.4
plac==0.9.6
pluggy==0.13.1
preshed==2.0.1
py==1.10.0
pydantic==1.7.3
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.15.0
requests==2.25.1
s3transfer==0.3.4
simplenlg==0.2.0
six==1.15.0
smart-open==3.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz#egg=en_core_web_sm
spacy-legacy==3.0.1
srsly==1.0.5
thinc==7.4.5
toml==0.10.2
tqdm==4.56.0
typer==0.3.2
urllib3==1.26.3
wasabi==0.8.2
Werkzeug==1.0.1
