<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>PronounCorrect</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
    <script>
      function revertChange(orig_text, idx)
      {
      document.getElementById(`corrected_${idx}`).innerHTML = orig_text;
      }
      document.addEventListener('copy', (event) => {
        event.clipboardData.setData('text', document.getSelection().toString());
        event.preventDefault();
      });
    </script>
</head>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('index') }}">PronounCorrect</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{{ url_for('index') }}">Home</a></li>
      <li><a href="{{ url_for('about') }}">About</a></li>
    </ul>
  </div>
</nav>
<body>

<br/>
<div class = "container" style= "margin-left: auto; margin-right: auto;">
<div class = "row h-100 justify-content-center align-items-center">
    <div class="col-lg-8">
        <form method="POST" action="/process">
          <div class="form-group" id = "upper-input">
            <label>Your Text</label>
            <textarea type="text" rows="12" style = "width: 100%; height: 100%; box-sizing: border-box;" class="form-control"  name="rawtext" required="true" id = 'area' placeholder = "Enter or paste your text"></textarea>
          </div>
          <div class="row" id = "lower-input">
              <div class="form-group col-lg-6">
                <label for="name">Whose pronouns are you correcting? </label>
                <input type = "text" id = "name" name = "name" required = "true" class ="form-control input-sm" placeholder = "Enter name here">
              </div>
              <div class="form-group col-lg-6">
                <label for="pronoun_replacement">Correct Pronoun</label>
                <select class="form-control input-sm" name = 'pronoun_replacement' id = 'pronoun_replacement'>
                  <option value="they">They/Them/Theirs</option>
                  <option value="she">She/Her/Hers</option>
                  <option value="he">He/Him/His</option>
                </select>
              </div>
            </div>
            <button type="submit" class="btn btn-info"><i class="fa fa-database"></i>Correct</button>
          </div>
        </form>
      <div class="col-lg-8"style = 'white-space:pre-wrap;'>
        {%-if translated -%} 
          <div class="alert alert-success" role="alert" style = 'white-space:pre-wrap;'id = "corrections">
            {%-for chunk in translated-%}
                {%-if chunk.is_pronoun -%}
                  <a href = '#' class = 'corrected_text' style="color: rgb(192, 19, 106);font-weight: bold;" id = {{'corrected_' ~ chunk.index}} onclick='revertChange("{{chunk.orig_text}}", "{{chunk.index}}")' data-toggle="tooltip" title="Corrected: click to revert change">{{chunk.text}}</a> 
                {%- else -%}
                  <span>{{chunk.text}}</span>
                {%- endif -%}
            {%endfor%}
          {%- endif -%} 
          </div>
        </div>
      </div>
  </div>
</div>
</body>
</html>
