<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>PronounCorrect</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
    <script>
      function revertChange(orig_text, idx)
      {
      document.getElementById(`corrected_${idx}`).innerHTML = orig_text;
      }
    </script>
</head>

<body>
<br/>
<br/>
<br/>
    <div class="container">
        
        <form method="POST" action="/process">
            <div class="form-group">
                    <label>Your Text</label>
            <textarea type="text" rows="5" cols="5" class="form-control"  name="rawtext" required="true"></textarea>
            <br/>
            Are you correcting they pronouns?  <input type="checkbox" name="correcting_they" value= {{True}}></input>
            Who's pronoun are you correcting? <input type = "text" name = "name" required = "true"></input>
            Correct pronoun: 
            <select class="custom-select" name = 'pronoun_replacement'>
              <option selected>Pronoun options</option>
              <option value="they">They/Them/Theirs</option>
              <option value="she">She/Her/Hers</option>
              <option value="he">He/Him/His</option>
            </select>
			      <br/>
            <button type="reset" class="btn btn-primary"><i class="fa fa-eraser"></i> Clear</button>
            <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        </div>
        </form>
    </div>
    <div class="container">
    	<div class="alert alert-success" role="alert" style = 'white-space:pre-wrap;'>
        {%for chunk in translated%}
            {%-if chunk.is_pronoun -%}
              <a href = '#' class = 'corrected_text' style="color: rgb(192, 19, 106);font-weight: bold;" id = {{'corrected_' ~ chunk.index}} onclick='revertChange("{{chunk.orig_text}}", "{{chunk.index}}")' data-toggle="tooltip" title="Corrected: click to revert change">{{chunk.text}}</a> 
            {%- else -%}
              <span>{{chunk.text}}</span>
            {%- endif -%}
        {%endfor%}
    	</div>
    </div>

  </body>
</html>

</html>